<template name="blam3">
    <div style="text-align:center; height: 100%;">
        <div class="card" style="height: 100%; display: inline-block;">
            <div class="card-body" style="text-align:center">
                <h5 class="card-title">Blam 2++</h5>
                <p class="card-text">Yes, we know starting from scratch sounds like a great idea, trust us it is not!</p>
            </div>
            <img class="card-img-bottom img-fluid" style="height: auto; width: 500px;" src="https://www.monkeyuser.com/assets/images/2019/127-end-of-the-line.png" alt="Card image cap">
        </div>
    </div>
</template>