<!-- <template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown" style="width: 500px; max-width: 500px;">
        <div>
            <div>

                <h1 class="logo-name">BLAM II</h1>

            </div>
            <h3>Welcome to BLAM II</h3>
            <p>Login in. To see it in action.</p>
            <form class="m-t login-form" role="form">
                <div class="form-group">
                    <input class="form-control" id="username" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
            <p class="m-t"> <small></small> </p>
        </div>
    </div>
</template> -->

<template name="login">
    HOOOOOI
        <div class="login-bg h-100">
                <div class="container h-100">
                    <div class="row justify-content-center h-100">
                        <div class="col-xl-6">
                            <div class="form-input-content login-form">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="logo text-center">
                                            <a href="index.html">
                                                <img style="
                                                width: 100%;" src="https://www.cursor.tue.nl/fileadmin/_processed_/7/4/csm_batavierenrace_logo_e064b8f9c5.png" alt="">
                                            </a>
                                        </div>
                                        <h3 class="text-center mt-4">BLAM II</h3>
                                        <h4 class="text-center mt-4">Log into Your Account</h4>
                                        <form class="mt-5 mb-5">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="Username" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="Password" id="password">
                                            </div>
                                            <div class="text-center mb-4 mt-4">
                                                <button type="submit" class="btn btn-primary">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>