<template name="main">

            {{> topNavbar }}


    <div class="content-body" style="margin-left:0">
        <div class="container-fluid">
        <div class="row">
            <!--<div class="col-lg-2">{{> handles}}</div>-->
            <div class="col-lg-4">{{> logs}}</div>
            <div class="col-lg-8">
                <div class="row">
                        <div class="col-lg-4">{{> tickets}}</div>
                        <div class="col-lg-8">{{> ticketDetail}}</div>
                </div>
            </div>
        </div>
    </div>
            <!-- Page wrapper -->

        <!-- <div class="row" style="height:100%;">
            <div class="col-lg-2" style="height:100%;">
                {{> handles}}
            </div>
            <div class="col-lg-4" style="height:100%;">
               {{> logs}}
            </div>
            <div class="col-lg-6" style="height:100%;">
                {{> tickets}}
            </div>
        </div> -->

        </div>
</template>