<template name="handles">
    <div class="ibox" style="height:78%;">
        <div class="ibox-title">
            <h5>Eenheden</h5>
        </div>
        <div class="ibox-content" style="height:95%;">
            <div style="height:5%;">
                <div class="input-group">
                    <input type="text" id="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-times"></i></button> </span>
                </div>
            </div>
            <div class="scrollRow" style="height: 95%; overflow-y: scroll;">
                {{#each handles}}
                    <table class="table">
                        <thead>
                            <tr>
                                <td style="font-weight: 900;">{{subnet}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.handles}}
                            <tr data-id="{{_id}}" class="handle_row">
                                <td>{{callsign}}</td>
                                <td>{{name}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/each}}
            </div>
        </div>     
    </div>
    <div class="ibox" style="height:15%;">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-10"><h5>{{selectedHandle.callsign}}</h5></div>
                <div class="col-md-2"><i class="fa fa-external-link" data-toggle="modal" data-target="#handle_modal"></i></div>
            </div>
        </div>
        <div class="ibox-content" style="height:95%;">
            <div> <b>Naam:</b> {{selectedHandle.name}}</div>
            <div> <b>Net:</b> {{selectedHandle.subnet}}</div>
            <div> <b>Laatste Melding:</b> {{formatTime selectedHandle.lastLog}}</div>
        </div>
    </div>

        {{> handle_modal selectedHandle=selectedHandle}}
</template>

<template name="handle_modal">
    <div class="modal inmodal" id="handle_modal" tabindex="-1" role="dialog" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-car modal-icon"></i>
                        <h4 class="modal-title">{{selectedHandle.name}}</h4>
                        <small class="font-bold">{{selectedHandle.subnet}} - {{selectedHandle.callsign}}</small>
                    </div>
                    <div class="modal-body scrollRow" style="max-height: 550px;">
                        <div id="vertical-timeline" class="vertical-container light-timeline no-margins" style="width: 100%;
                            padding: 0px 10px 0px 0px;">
                                        {{#each logs selectedHandle._id}}
                                         {{#if ticket}}
                                            {{> ticket_log}}
                                          {{else}}
                                            {{>log}}
                                          {{/if}}
                                        {{/each}}
                                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</template>