<template name="logs">
				<div class="event-chat-ryt">
					<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 750px;">
						<ul class="list-group" style="overflow: hidden; width: auto; height: 750px;">
						<li class="list-group-item">
							<div class="chat-area">
									{{#each logs}}
									{{#if ticket}}
									   {{> ticket_log}}
									 {{else}}
									   {{>log}}
									 {{/if}}
								   {{/each}}
							</div>
						</li>
					</ul>
					<div class="slimScrollBar" style="background: rgb(198, 200, 201); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; left: 1px; height: 353.551px;"></div>
					<div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; left: 1px;"></div></div>
					{{> log_input}}
				</div>
</template>

<template name="log">
		<div class="chat-sender"> 
			<div class="media single-message" style="overflow:visible;">
					<button class="btn btn-invert btn-circle btn-send" data-toggle="modal" data-target="#{{_id}}-log-modal-sm"><i class="fa fa-paper-plane" aria-hidden="true"></i>
					</button>
				<div class="media-body" style="overflow:visible;">
					<div>
						<span>{{{message}}}</span>
						<small class="time">{{createdBy}} - {{formatTime createdAt}}</small>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade bd-example-modal-sm" id="{{_id}}-log-modal-sm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Convert to ticket</h5>
						<button type="button" class="close close-modal" data-dismiss="modal"><span>×</span>
						</button>
					</div>
					<div class="modal-body">Are you sure you want to convert this log message to a ticket</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
						<button type="button" id="log_{{_id}}" class="btn btn-primary cnf-change-to-ticket">Change to ticket</button>
					</div>
				</div>
			</div>
		</div>
</template>

<template name="ticket_log">
		<div class="chat-sender"> 
			<div class="media single-message" style="overflow:visible;">
					<button class="btn btn-primary btn-circle btn-send"><i class="fa fa-file-text" aria-hidden="true"></i>
					</button>
				<div class="media-body" style="overflow:visible;">
					<div class="ticket-chat" id="tc_{{ticket._id}}">
						<h4 class="ticket-chat">{{ticket.title}}</h4>
						<span>{{{message}}}</span>
						<small class="time">{{createdBy}} - {{formatTime createdAt}}</small>
					</div>
				</div>
			</div>
		</div>
</template>

<template name="log_input">
		<div class="char-type">
				<form class="d-flex justify-content-center">
					<div id="log-message" class="log-message form-control" contenteditable="true"  style="height:100%;"></div>
					{{#unless ticket_id}}
					<button type="submit" id="new-ticket-btn" class="btn btn-invert btn-send"><i class="fa fa-file-text" aria-hidden="true"></i>
					</button>
					{{/unless}}
					<button type="submit" id="new-log-btn" class="btn btn-primary btn-send"><i class="fa fa-paper-plane" aria-hidden="true"></i>
					</button>
				</form>
			</div>
</template>