<template name="logs">
	<div class="timeline_content">
			<div class="timeline-timestamp">
					<span class="badge badge-primary">{{currentTime}}</span>
			</div>
			<ul class="timeline">
					{{#each logs}}
					{{#if ticket}}
					   {{> ticket_log}}
					 {{else}}
					   {{>log}}
					 {{/if}}
				   {{/each}}
					
				</ul>
	</div>

		{{> log_input}}
</template>

<template name="log">
		<li class="timeline-inverted m-0">
				<div class="timeline-badge">
					<span class="text-pale-sky">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</span>
				</div>
				<div class="timeline-panel">
					<div class="card story-widget">
						<div class="card-body p-4">
							<p>{{{message}}}</p>
							<div class="reaction-section d-flex my-3">
								<div class="like">
									<i class="fa fa-user-o"></i>
									<span class="count mr-4 ml-2">{{createdBy}}</span>
								</div>
								<div class="comment">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<span class="count mr-4 ml-2">{{formatTime createdAt}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
</template>

<template name="ticket_log">
		<li class="timeline-inverted">
				<div class="timeline-badge">
					<span class="text-pale-sky">
						<i class="fa fa-file-text" aria-hidden="true"></i>
					</span>
				</div>
				<div class="timeline-panel m-0">
					<div class="card story-widget">
						<div class="card-header border-bottom d-flex justify-content-between align-items-center p-4" style="background-color:{{getStatusColor status priority}}">
							<h4 class="heading-primary mb-0">{{ticket.title}}</h4>
							<p class="font-small text-dark mb-0">{{ticket.owner}}</p>
						</div>
						<div class="card-body p-4">
							<p>{{{message}}}</p>
							<div class="reaction-section d-flex my-3">
								<div class="like">
									<i class="fa fa-user-o"></i>
									<span class="count mr-4 ml-2">{{createdBy}}</span>
								</div>
								<div class="comment">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<span class="count mr-4 ml-2">{{formatTime createdAt}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
</template>

<template name="log_input">
	<div class="ibox-content ibox-heading" style="height:15%;">
		<form class="new-log"  style="height:100%;">
			<div class="col-sm-10"  style="height:100%;">
				<div id="log-message" class="form-control" contenteditable="true"  style="height:100%;"></div>
			</div>
			<div class="col-sm-2" style="padding-left: 0px;">
				<button type="button" id="new-log-btn" class="btn btn-w-m btn-primary m-b-sm" style="min-width:0px; width: 100%;">Log</button>
				{{#unless ticket_id}}
				<button type="button" id="new-ticket-btn" class="btn btn-w-m btn-warning" style="min-width:0px; width: 100%;">Ticket</button>
				{{/unless}}
			</div>
		</form>
	</div>
</template>