<template name="ticketDetail">
    <div class="ticketDetail email-right-box p-0">
        <div class="right-box-padding py-5">
            <div class="card">
                <div class="card-body pb-3">
                    <div class="card-title">
                        Ticket title
                    </div>
                    <form class="card-body form p-0">
                        <div class="col-lg-6 pl-0">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-comment"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Title" aria-label="Title">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Assignee" aria-label="Assignee">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-map-marker"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Location" aria-label="Location">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-tasks"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Status" aria-label="Status">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-exclamation"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Priority" aria-label="Priority">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-fw fa-clock-o"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Last update" aria-label="Last update">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>