<template name="vehicleList">
    <div class="sidebar-right">
        <a class="sidebar-right-trigger">
            <i class="fa fa-car"></i>
        </a>
        <div class="slimScrollDiv">
            <div class="tab-content tab-content-default tabcontent-border">
                <h4>Vehicles</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-fw fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Assignee" aria-label="Assignee">
                </div>
            </div>
        </div>
    </div>
</template>