<template name="topNavbar">
        <div class="nav-header">
            </div>
            <!-- header -->
            <div class="header">
                
                <div class="header-content">
                    <div class="header-right">
                        <ul>
                            <li class="icons">
                                <a href="javascript:void(0)" class="log-user">
                                    <img src="../../assets/images/avatar/1.jpg" alt=""> <span>{{username}} - {{function}}</span>  <i class="fa fa-caret-down f-s-14" aria-hidden="true"></i>
                                </a>
                                <div class="drop-down dropdown-profile animated bounceInDown">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li><a href="javascript:void()"><i class="icon-user"></i> <span>My Profile</span></a>
                                            </li>
                                            <li><a href="javascript:void()"><i class="icon-wallet"></i> <span>My Wallet</span></a>
                                            </li>
                                            <li><a href="javascript:void()"><i class="icon-envelope"></i> <span>Inbox</span></a>
                                            </li>
                                            <li><a href="javascript:void()"><i class="fa fa-cog"></i> <span>Setting</span></a>
                                            </li>
                                            <li><a href="javascript:void()"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                            </li>
                                            <li><a href="javascript:void()"><i class="icon-power"></i> <span>Logout</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #/ header -->
            <!-- sidebar -->
    <!-- <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #2f4050">
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a class="" style="margin-left: 40px; font-size: 20px; padding: 15px 10px;">
                        BLAM-II
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="">
                        {{currentTime}}
                    </a>
                </li>
                <li>
                    <a class="">
                        <i class="fa fa-user"></i> {{username}} - {{function}}
                    </a>
                </li>
                <li>
                    <a class="btn-fullscreen">
                        <i class="fa fa-desktop"></i>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="fa fa-wrench"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn-logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>

            </ul>

        </nav>
    </div> -->
</template>