<template name="topNavbar">
        <div class="header">    
                <div class="header-content">
                    <div class="header-left">
                        BLAM II
                    </div>
                    <div class="header-right">
                        <ul>
                            <li class="icons">
                                <input type="text" class="form-control input-rounded form-control-sm" id="search-field" placeholder="search" aria-describedby="inputGroupPrepend2">
                            </li>
                            <li class="icons">
                                <a class="header-clock">
                                    {{currentTime}}
                                </a>
                            </li>
                            <li class="icons">
                                <a class="">
                                        <i class="fa fa-user"></i> {{username}} - {{function}}
                                </a>
                            </li>
                            <li class="icons">
                                <a href="/admin">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </li>
                            <li class="icons">
                                    <a class="light-mode" href="#">
                                        <i class="fa fa-lightbulb-o"></i>
                                    </a>
                                </li>
                            <li class="icons">
                                <a href="#" class="btn-logout">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{#if error}}
                <div class="text-center m-3" style="width:100%"><span class="label label-pill label-danger">Error connecting to server....</span></div>
            {{/if}}
</template>