.login-body {
    background: url(https://imgo.rgcdn.nl/ea6d5e2d013347f394d94ac33dcac5d6/opener/De-Batavierenrace-van-Nijmegen-naar-Enschede.jpg);
    background-size: cover;
}

.timeline-badge{
    left:5%;
}

.timeline:before{
    left:5%;
}

.timeline-panel{
    float:none;
    width: 80%;
    left: 15%;
}

@media (min-width: 576px){
    .timeline>li>.timeline-badge{
        left:5%;
    }
    .timeline>li.timeline-inverted>.timeline-panel{
        float:none;
        width: 80%;
        left: 15%;
    }
}