body {
    font-family: "Poppins", sans-serif;
}

.ticket-list {
    min-height: 95vh;
}

.content-body .container-fluid {
    padding: 0 3rem 0 0;
}

.bg-bata {
    background-color: #2f6d8c !important;
}

.text-bata {
    color: #2f6d8c !important;
}

.brand-title {
    color: #ffffff;
    padding: 10px;
}

.ticketDetail {
    margin-top:1.5rem;
}

.ticketDetail form input {
    min-height: 3.5rem;
    height: 3.5rem;
}

.ticketDetail form select {
    min-height: 3.5rem;
    height: 3.5rem;
}

.email-left-box {
    width: 100%
}

.login-body {
    background: url(https://imgo.rgcdn.nl/ea6d5e2d013347f394d94ac33dcac5d6/opener/De-Batavierenrace-van-Nijmegen-naar-Enschede.jpg);
    background-size: cover;
}

.timeline-badge{
    left:5%;
}

.timeline:before{
    left:5%;
}

.timeline-panel{
    float:none;
    width: 80%;
    left: 15%;
}

@media (min-width: 576px){
    .timeline>li>.timeline-badge{
        left:5%;
    }
    .timeline>li.timeline-inverted>.timeline-panel{
        float:none;
        width: 80%;
        left: 15%;
    }
}

.sidebar-right{
    z-index: 99;
}

.sidebar-right .sidebar-right-trigger{
    border-radius: 50px 0 0 50px;
}

.label, .timeline-timestamp {
    text-align: inherit;
}

.timeline_content {
    margin-top: 10px;
    max-height: 80vh;
    overflow: hidden;
}

@media only screen and (min-width: 1501px){
    .card-body {
        padding: 2rem
    }
}

.log-input {
    max-height:18vh;
}

.event-chat-ryt .chat-area{
    padding-top:0;
}

.event-chat-ryt .chat-area .media-body div span {
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    top: 103%;
    position: relative;
}

.event-chat-ryt .chat-sender .media .media-body div span {
    padding-left: 1.7rem;
}

.event-chat-ryt div {
    font-size: 1.4rem;
}

.event-chat-ryt .chat-sender .media .media-body div {
    background-color: #fff;
}

@media (min-width: 576px){
.event-chat-ryt .chat-area .media-body div {
    max-width: 60%;
}
}
.event-chat-ryt .chat-area .media-body div {
    margin: 0;
    max-width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}
.event-chat-ryt div {
    font-size: 1.4rem;
}

.event-chat-ryt .chat-sender .media .media-body div .time {
    right: 0;
}
.event-chat-ryt .chat-sender .media .media-body div small {
    font-size: 10px!important;
}

#log-message{
    background-color: transparent;
    font-size: 1.6rem;
    color: #847577;
    border: 0;
}

.event-chat-ryt .chat-sender .media .media-body div h4 {
    margin: 0;
    padding-left: 1.7rem;
    padding-top: 0.7rem;
}

.event-chat-ryt .chat-area .media-body div .time {
    position: absolute;
    color: #aaa;
}

.event-chat-ryt .chat-sender .media .media-body div span::after {
    border-color: transparent transparent #fff;
    left: -1.5rem;
}

.event-chat-ryt .chat-area .media-body div span::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px;
    bottom: 0;
    position: absolute;
}

.ticket-chat {
    /* background: #7f63f4; */
    /* color: white; */
}

.event-chat-ryt .chat-sender .media .media-body .ticket-chat {
    /* background: #7f63f4; */
    /* color: white; */
    border-radius: 5px;
    /* padding: 5px 10px; */
}

.event-chat-ryt .chat-area .media-body div>span {
    min-width: 15rem;
}

.event-chat-ryt .chat-sender .media .media-body .ticket-chat span::after {
    /* border-color: transparent transparent #7f63f4; */
    /* left: -1.5rem; */
}

[contenteditable=true]:empty:before{
    content: "🙂 Type your message here";
    display: block; /* For Firefox */
  }

.btn-invert{
    color: #7f63f4;
    background: #fff;
}

[data-sidebar-style=full] .header {
    margin: 0;
    width: 100%;
}

.email-left-box{
    height: calc( 100vh - 9rem );
    margin-top: 1.5rem;
    padding-bottom:0;
}

char-type{
    padding: 0;
}

.char-type form{
    height: 100px;

}

.event-chat-ryt .chat-area .media-body div span span::after {
    content:none;
}

.icon-info i{
    color: #00a2ff!important ;
}

.mail-list .list-group-item-active{
    padding-left: 1.4rem;
    border-left: 0.3rem solid #7f63f4;
    background-color: #f5f5f5;
}

.ticket-link:hover{
    cursor:pointer;
}

.event-chat-ryt .chat-area .chat-reciver, .event-chat-ryt .chat-area .chat-sender{
    margin-bottom: 2.5rem;
}

.sidebar-right {
    height: 100%;
}

[data-sidebar-style=mini] .header {
    z-index: 9999;
    margin-left:0;
    width:100%;
}

.modal {
    max-height: 90rem;
}

.fade.in {
    opacity: 1;
    display: block !important;
    z-index: 9999999999;
    top: 100px;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
    z-index: 0;
    top: 0;
  }

.mail-list .list-group-item .badge-notify i {
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
    color: #ffffff;
}

.modal-backdrop {
    z-index: 10
}

.modal.fade.show {
    opacity: 100;
}

.slimScrollDiv {
    margin-top:1.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    height:100%;
}

.logs{
    flex-grow: 1;
}

.card-style:hover, .card:hover{
 box-shadow: none;
}

.event-chat-ryt .char-type {
    padding-bottom: 0;
}

.slimScrollDivLogsDetail{
    flex-grow: 1;
}

.tribute-container li {
    padding: 0 1rem;
}
.tribute-container .highlight {
    background-color: #673bb7;
    color: white;
}
.tribute-container {
    background-color: #f3f6f9;
}

.event-chat-ryt .chat-sender .media .media-body div span.label {
    padding: .5rem .7rem;
}